:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo:focus {
  color: var(--accent-color);
}
.logo-accent {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts-nav */

.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--primary-white-color);
  background-color: var(--footer-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Feature */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Team */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team p {
  font-size: 16px;
  line-height: 1.19;
}

/* Works */
.works {
  background-color: var(--second-background);
}

/* Button */

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.portfolio {
  color: var(--title-text-color);
  background-color: var(--second-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button.portfolio:hover,
.button.portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer:focus {
  color: var(--accent-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
}

.contact {
  color: var(--primary-white-color);
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Portfolio */

.projects-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
